.navbar-toggler-icon{
    background-image: url('./assets/logo/json-logo.png');
    height: 1em;
    background-size: cover;
}

.nav-link{
    cursor: pointer;
    text-align: right;
}

.nav-item{
    width: fit-content;
}

.chart-container{
    min-width: 200px;
    min-height: 200px;
}

@media (max-width: 489px){
    .navbar-nav{
        display: block !important;
    }
}