.btn-update-icon{
    background-image: url('./assets/logo/av-logo.png');
    height: 1em;
    background-size: cover;
    display: inline-block;
    width: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-update{
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    background-color: transparent;
}

.nav-link{
    cursor: pointer;
    text-align: right;
}

.nav-item{
    width: fit-content;
}

.min-vh-75{
    min-height: 75vh;
}

.vh-75{
    height: 75vh;
}

.min-vh-10{
    min-height: 10vh;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee *{
  display: inline-block;
}

.marquee > * {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0%); }
  to   { transform: translateX(-50%); }
}

@media (max-width: 489px){
    .navbar-nav{
        display: block !important;
    }
}